## https://docs.aws.amazon.com/ja_jp/lambda/latest/dg/images-test.html#images-test-env
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=

LOG_MODE=local
LOG_LEVEL=DEBUG

FOO=bar
